include dash_useful_components/dash_useful_components.min.js
include dash_useful_components/dash_useful_components.min.js.map
include dash_useful_components/metadata.json
include dash_useful_components/package-info.json
include README.md
include LICENSE
include package.json
